/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: Gliker;
    src: url(../fonts/gliker/Gliker-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Gliker;
    src: url(../fonts/gliker/Gliker-SemiBold.woff) format('woff');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: Gliker;
    src: url(../fonts/gliker/Gliker-Bold.woff) format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Gliker;
    src: url(../fonts/gliker/Gliker-Black.woff) format('woff');
    font-style: normal;
    font-weight: 900;
}

/* ======font family=========
font-family: "Inter", serif;
font-family: Gliker;
*/

:root {

    --thmColor: #F8A5DA;
    --textColor: #140b27;
    --borderColor: #f5f5f5;
    --purpalColor: #B498DD;

    --f18: 18px;
    --f20: 20px;
    --f22: 22px;
    --f24: 24px;
    --f28: 28px;
    --f30: 30px;
    --f32: 32px;
    --f36: 36px;
    --f40: 40px;
    --f48: 48px;
    --f64: 64px;

}


body {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #140b27;
    font-family: "Inter", serif;
    position: relative;
    transition: all .3s ease-in-out;
}

.overflow-overly {
    overflow: hidden;
}

.overflow-overly::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #0005;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

body::-webkit-scrollbar{
    width: 12px;
    background-color: #0001;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--thmColor);
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
}

a:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

a,
button {
    color: inherit;
    outline: medium none;
    text-decoration: none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    font-weight: 600;
    font-family: 'Gliker';
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: var(--f36);
}

h3 {
    font-size: var(--f30);
}

h4 {
    font-size: var(--f24);
}

h5 {
    font-size: var(--f18);
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.pb_150 {
    padding-bottom: 150px;
}

.pb_100 {
    padding-bottom: 100px;
}

.pb_50 {
    padding-bottom: 50px;
}

.pt_150 {
    padding-top: 150px;
}

.pt_100 {
    padding-top: 100px;
}

.pt_50 {
    padding-top: 50px;
}

.mb_150 {
    margin-bottom: 150px;
}

.mb_100 {
    margin-bottom: 100px;
}

.mb_50 {
    margin-bottom: 50px;
}

.mt_150 {
    margin-top: 150px;
}

.mt_100 {
    margin-top: 100px;
}

.mt_50 {
    margin-top: 50px;
}

.thm_btn {
    background: var(--thmColor);
    color: var(--textColor);
    font-family: 'Gliker';
    text-transform: uppercase;
    font-weight: 600;
    padding: 7px 24px;
    border: 1px solid #000;
    border-radius: 37px;
    font-size: 14px;
    display: inline-block;
}

.thm_btn.v2 {
    background: #fff;
    border-color: #0003;
}

.container {
    max-width: 1280px;
}

/* default-css END 
================================== */



.header-area {
    width: 100%;
    z-index: 99;
    position: fixed;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.header-area.v2 {
    position: relative;
}

.header-area.v2 .src__box {
    background: #0001;
}

.header-area.v2 .src__box button {
    color: #000;
}

.header-area.v2 .nav__icon {
    border-color: #0004;
}

.header-area.v2 .nav__icon ul li a img {
    filter: url();
}

.header-area.v2 .nav__item>button {
    color: #000;
}

.header-area.shrink {
    position: fixed;
    background: #000;
}

.header-area.v2.shrink {
    background: #fff;
}

.header-area:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent, #0009);
    z-index: -1;
}

.header-area.v2:before {
    display: none;
}

.header-area .container-fluid {
    padding: 10px 20px;
}


.header__top {
    display: flex;
    gap: 25px;
    background: #000;
    padding: 6px 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.header__left__mobile {
    display: flex;
    align-items: center;
    color: #ffff;
    gap: 20px;
}

.v2 .header__left__mobile button {
    color: #000;
}

.header__right__mobile ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 13px;
}

.header__right__mobile ul a {
    filter: brightness(5.5) invert(1);
}

.v2 .header__right__mobile ul a {
    filter: url();
}


@-webkit-keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee__blk {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
}

.marquee .marquee__blk {
    text-transform: uppercase;
    will-change: transform;
    transform: translateX(0);
    white-space: nowrap;
    -webkit-animation: marquee 2s linear infinite;
    animation: marquee 19s linear infinite;
}

.ht__list {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 10px;
}

.ht__list i {
    max-width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.ht__list p {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.container-fluid {
    padding: 0 20px;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-area {
    max-width: 140px;
}

.header-area.v2 .logo-area {
    filter: brightness(7.5) invert(1);
}

.src__box {
    background: #fff3;
    border-radius: 30px;
    padding: 0 13px;
    flex-shrink: 0;
}

.src__box button {
    color: #fff;
    margin-right: 8px;
}

.src__box input {
    background: no-repeat;
    border: none;
    max-width: 140px;
    height: 36px;
}

.menu-area {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
    color: #fff;
    position: relative;
}

.nav__item>button {
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
}

.nav__item:hover .mega__menu {
    opacity: 1;
    pointer-events: all;
}

.mega__menu {
    position: absolute;
    right: 0;
    padding-top: 35px;
    opacity: 0;
    height: 100%;
    min-height: 100px;
    margin-top: -3px;
    pointer-events: none;
    transition: all .5s ease-in-out;
}

.Skapa__nav__content {
    max-width: 1000px;
    background: #140C26;
    margin-right: 50px;
    padding: 40px 50px;
    border-radius: 20px;
    width: 100%;
    min-width: 1000px;
}

.mer__nav__content {
    background: var(--textColor);
    min-width: 160px;
    padding: 10px;
    font-size: 14px;
    margin-left: -60px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0009;
}

.mer__nav__content ul li a {
    padding: 10px;
    display: block;
    border-radius: 10px;
    transition: all .3s;
}

.mer__nav__content ul li a:hover {
    background: #fff;
    color: var(--textColor);
}

.Alla__nav__content {
    background: #140C26;
    padding: 40px 50px;
    border-radius: 20px;
}

.Skapa__nav__title {
    text-align: center;
}

.Skapa__nav__title p {
    max-width: 610px;
    margin-inline: auto;
    font-size: 14px;
}

.Skapa__nav__title h3 {
    font-family: 'Gliker';
}

.skapa__blk {
    display: block;
    margin-top: 20px;
    background: #fff;
    border-radius: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
}

.skapa__blk.more p {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.skapa__blk.more p b {
    font-size: 16px;
}

.skapa__blk span {
    background: var(--textColor);
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 8px 3px;
    border-radius: 30px;
    font-family: Gliker;
}

.skapa__blk p {
    margin: 0;
    padding: 10px;
    min-height: 62px;
}

.skapa__blk b {
    color: var(--textColor);
    font-size: 12px;
    display: block;
    text-transform: uppercase;
    font-family: Gliker;
    font-weight: 600;
}

.skapa__blk i {
    height: 205px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.skapa__blk.more i {
    font-size: 36px;
    rotate: 45deg;
}

.Pick__blk {
    border: 1px solid #fff3;
    margin-top: 20px;
    border-radius: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    outline: 1px solid #fff0;
}


.Pick__blk:hover {
    outline: 1px solid #fff;
}

.Pick__blk b {
    padding: 10px;
    display: block;
    text-transform: uppercase;
    font-family: 'Gliker';
    font-weight: 400;
}

.Pick__blk i {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.Pick__blk i img {
    max-height: 110px;
}

.nav__icon {
    border-left: 1px solid #fff4;
    padding: 0 16px;
    border-right: 1px solid #fff4;
}

.mina__dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    width: 107px;
    padding: 5px;
    border-radius: 13px;
    opacity: 0;
    pointer-events: none;
    margin-top: 4px;
    transition: all 0.45s ease;
}

.mina__dropdown.show {
    opacity: 1;
    pointer-events: all;
}



.mina__dropdown a {
    font-size: 13px;
    text-transform: capitalize;
    padding: 8px 5px;
}

.nav__icon ul {
    display: flex;
    gap: 16px;
    position: relative;
}

.nav__icon ul li a img {
    filter: brightness(7.5) invert(1);
}


.lng__btn button {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 7px;
    color: #fff;
}

.lng__btn button span {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.lng__btn button span img {
    height: 100%;
    object-fit: cover;
}


/* humbergar */
.humbergar {
    cursor: pointer;
    display: block;
    max-width: 35px;
    margin-left: auto;
}

.humbergar span,
.humbergar span:before,
.humbergar span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 20px;
    background: white;
    position: relative;
    display: block;
    content: '';
    transition: all 250ms ease-in-out;
}

.v2 .humbergar span,
.v2 .humbergar span:before,
.v2 .humbergar span:after {
    background: #000;
}

.humbergar span:before {
    top: -7px;
}

.humbergar span:after {
    bottom: -5px;
}

.humbergar.active span {
    background-color: transparent;
}

.humbergar.active span:before {
    top: 0px;
    transform: rotate(45deg);
}

.humbergar.active span:after {
    bottom: 2px;
    transform: rotate(-45deg);
}

/* humbarger END */


/* mobile-menu START */
.mobile-menu {
    position: fixed;
    width: 100%;
    height: 102vh;
    background: #000000;
    z-index: 99;
    top: 0;
    left: 0;
    transition: .3s;
    margin-left: -800px;
    color: #fff;
    max-width: 778px;
    padding: 20px;
}

.siteBar {
    margin-left: 0;
}

.mobile-menu ul#pills-tab {
    margin-top: 90px;
    margin-bottom: 35px !important;
    display: block;
}

.mobile-menu nav ul li {
    list-style: none;
    display: block;
}

.mobile-menu nav ul li a {
    font-size: 16px;
    line-height: 40px;
    transition: .3s;
}

.mobile-menu a.bars {
    right: 20px;
    top: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 32px;
}

.mobile__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mobile__menu__content {
    height: 76vh;
    overflow: auto;
}

.mobile__menu__content nav {
    margin-top: 20px;
}

.mobile__menu__content .Pick__blk b {
    font-size: 14px;
}

.mobile__menu__content .Pick__blk {
    max-width: 160px;
    flex-shrink: 0;
}

.flex__scrolling {
    display: flex;
    overflow: auto;
    gap: 15px;
    margin-right: 0px;
}

.flex__scrolling .skapa__blk {
    min-width: 175px;
}

.flex__scrolling .skapa__blk span {
    font-size: 8px;
}

.flex__scrolling .skapa__blk i {
    height: 150px;
}

.mobile__btm {
    position: absolute;
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 16px;
}

.mobile__btm ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.mobile__btm ul li {
    flex-basis: 31%;
}

.mobile__btm ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2C243D;
    text-transform: capitalize;
    font-size: 12px;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile__btm ul li a i {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.mobile__menu__content .accordion-button {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Gliker';
    font-size: 24px;
    gap: 16px;
    padding: 8px 0;
}

.mobile__menu__content .accordion-button:after {
    display: none;
}

/* Header section END */


/*============lang modal Area Start =============*/
.lang__list {
    padding: 20px;
}

.lang__list h3 {
    font-family: Gliker;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
}

.lang__list button {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
}

.lang__list ul li {
    display: flex;
    gap: 16px;
    padding: 16px 0;
    border-bottom: 1px solid var(--borderColor);
    position: relative;
}

.lang__list ul li:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    outline: 1px solid #727272;
    border-radius: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #fff;
}

.lang__list ul li.active:after {
    background: var(--purpalColor);
}

.lang__list ul li:last-child {
    border: none;
    padding-bottom: 0;
}

.lang__list ul li p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    opacity: .7;
}

.lang__list ul li h5 {
    margin: 0;
    font-size: 16px;
    font-family: 'Inter';
}

.lang__list ul li i {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
    border: 1px solid var(--borderColor);
}

.lang__list ul li i img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*============lang modal Area End =============*/


/*============side bar Area Start =============*/
.side-bar {
    height: 102vh;
    max-width: 450px;
    position: fixed;
    background: #ffff;
    z-index: 999;
    right: 0;
    right: -500px;
    transition: all .3s ease-in-out;
    width: 100%;
    top: 0;
}

.side-bar.left-side {
    right: auto;
    left: -500px;
}


.side-bar.show {
    right: 0;
}

.side-bar.left-side.show {
    left: 0;
}


.side-bar__top {
    display: flex;
    justify-content: space-between;
    background: #140B27;
    color: #fff;
    padding: 10px 16px;
    align-items: center;
}

.side-bar__top button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all .3s;
}

.side-bar__top button:hover {
    background: #ffff;
    color: #000;
}

.side-bar__top h5 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
}


.Wishlist__icons {
    text-align: center;
    height: 48vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.Wishlist__icons p {
    margin: 0;
    font-size: 14px;
    opacity: .8;
}

.Wishlist__icons i {
    width: 50px;
    height: 50px;
    background: #FEE2E2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    color: #F15858;
}

.Wishlist__item {
    padding: 0 20px;
}

.Wishlist__item>h5 {
    text-transform: uppercase;
    font-weight: 400;
}

/*--------------- side bar two Start-------------*/


.Varukorg__sidebar__content {
    height: 100%;
    text-align: center;
    padding: 30px;
}


.Varukorg__text h6 {
    text-transform: uppercase;
}

.Varukorg__text p {
    margin: 0;
    font-size: 14px;
}

.Varukorg__text p a {
    text-decoration: underline;
}

.Varukorg__text__box {
    margin-top: 40px;
    background: #000;
    color: #ffff;
    padding: 16px;
    border-radius: 16px;
}

.Varukorg__text__box h6 {
    color: var(--thmColor);
    margin-bottom: 14px;
}

/*============side bar Area End =============*/


/*============side bar Area Start =============*/

/*============side bar Area End =============*/


/*============hero Area Start =============*/
.hero-area {
    position: relative;
    height: 932px;
    padding-top: 100px;
    display: flex;
    align-items: end;
    background-size: cover;
    background-position: center 45%;
    padding-bottom: 207px;
}

.hero-area:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 604px;
    left: 0;
    bottom: 0px;
    background: linear-gradient(0deg, rgba(20, 11, 39, .65), transparent);
    z-index: 0;
}

.hero-bg {
    position: absolute;
    top: -60px;
    pointer-events: none;
    left: 0;
    z-index: -1;
}

.hero-content {
    text-align: center;
    color: #fff;
    position: relative;
    max-width: 780px;
    margin: auto;
}

.hero-content a {
    font-size: 18px;
    border-width: 2px;
    padding: 14px 36px;
    transition: all .2s;
    animation: wiggle 4s ease-in-out infinite;
}
@keyframes wiggle {
    0% {
      transform:rotate(0deg)
    }
    75% {
      transform:scale(1);
      opacity:1
    }
    84% {
      transform:rotate(0deg) scale(1.2);
      opacity:.8
    }
    88% {
      transform:rotate(-5deg) scale(.7);
      opacity:1
    }
    92% {
      transform:rotate(7deg)
    }
    94% {
      transform:rotate(-3deg)
    }
    96% {
      transform:rotate(2deg)
    }
    to {
      transform:rotate(0deg) scale(1)
    }
  }
  .hero-content a:hover{
    animation: none
  }
.hero-content a:hover,
.drmBag__content a:hover,
.case__blk a:hover {
    transform: translate(4px, 6px);
}

.hero-content p {
    font-size: var(--f20);
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
}

.hero-content h1 {
    font-size: 52px;
    text-transform: uppercase;
    max-width: 600px;
    margin: auto;
    margin-bottom: 19px;
    line-height: 1.2;
}


/*============hero Area End =============*/


/*============feedback Area Start =============*/
.feedback-area {
    padding: 90px 0;
    position: relative;
    padding-top: 27px;
    background: #ffff;
    margin-top: -260px;
    border-radius: 80px;
}



.feedback__blk {
    text-align: center;
    border: 1px solid #0003;
    border-radius: 16px;
    padding: 30px 40px;
    margin-top: var(--f36);
}

.feedback__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
}


.feedback__content p {
    margin: 0;
    font-size: 14px;
    opacity: .5;
}

.feedback__content h6 {
    text-transform: uppercase;
    font-size: 14px;
}

.feedback__content ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}

/*============feedback Area End =============*/


/*============design Area Start =============*/


.design__wrp {
    display: flex;
    gap: 20px;
}

.design__blk {
    flex-basis: 18%;
    position: relative;
    background: #140B27;
    color: #fff;
    border-radius: 5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 20px;
    cursor: pointer;
}

.design__blk .thm_btn {
    position: absolute;
    bottom: -46px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    padding: 10px 20px;
    font-size: 15px;
    opacity: 0;
    transition: all .3s;
    pointer-events: none;
    z-index: -1;
}

.design__blk:hover .thm_btn {
    bottom: 20px;
    opacity: 1;
    pointer-events: all;
    z-index: 2;
}

.design__content {
    position: relative;
    height: 130px;
    padding: 0 29px;
    z-index: 9;
}

.design__content p {
    font-size: 13px;
    margin: 0;
}

.design__content h6 {
    font-size: 13px;
    background: #fff;
    color: #000;
    padding: 5px 13px;
    width: max-content;
    border-radius: 15px;
}

.design__content h1 {
    text-transform: uppercase;
    font-size: var(--f30);
}

.design__img {
    position: relative;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    border-bottom-right-radius: 5px;
    height: 430px;
    margin-top: -25px;
}

.pos__img {
    z-index: 99;
}

.pos__img img {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100px;
    height: 100px;
    object-fit: scale-down;
    transition: all .4s;
    opacity: 0;
}

.design__blk:hover .pos__img img.top {
    top: -2%;
    left: 88%;
    rotate: 25deg;
    opacity: 1;
}

.design__blk:hover .pos__img img.left {
    left: 9%;
    rotate: -20deg;
    top: 33%;
    opacity: 1;
}

.design__blk:hover .pos__img img.right {
    left: 90%;
    rotate: 17deg;
    top: 70%;
    opacity: 1;
}


/*============design Area End =============*/


/*============case Area Start =============*/


.case__blk a {
    font-size: 13px;
    transition: all .2s ease;
}

.case__blk .v3 {
    background: #B498DD;
}

.case__blk .v4 {
    background: #ADCFEE;
}

.case__blk p {
    font-size: 14px;
    opacity: .8;
}

.case__blk h6 {
    margin: 20px 0 12px;
    text-transform: uppercase;
    font-size: 14px;
    width: max-content;
}

.case__blk i {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.case__blk i img {
    height: 100%;
    object-fit: cover;
}

/*============case Area End =============*/


/*============ Area Start =============*/
.Pick-area {
    padding: 100px 0;
    background: #140b28;
    color: #ffff;
}


.Pick__wrp {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

.Pick__wrp .Pick__blk {
    border-radius: 5px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.Pick__wrp .Pick__blk:hover {
    outline-width: 2px;
}

.Pick__wrp .Pick__blk b {
    padding: 20px 0 30px;
}

.Pick__wrp .Pick__blk i img {
    max-height: 220px;
    max-width: 175px;
    transition: all .2s ease;
}

.Pick__wrp .Pick__blk:hover i img {
    scale: 1.1;
}

.Pick__wrp .Pick__blk i {
    height: 300px;
}


/*============ Area End =============*/


/*============drmBag Area Start =============*/
.drmBag-area {
    padding: 80px 0;
}

.drmBag__wrp {
    background: var(--textColor);
    color: #fff;
    border-radius: 20px;
    overflow: hidden;
    padding: 4px;
}

.drmBag__content {
    padding: 50px;
}

.drmBag__content a {
    padding: 12px 30px;
    font-size: 15px;
    transition: all .3s;
}


.drmBag__content p {
    font-size: var(--f18);
    padding: 14px 0;
    line-height: 1.6;
}

.drmBag__content h2 {
    color: var(--thmColor);
    text-transform: uppercase;
    font-weight: 400;
}


.drmBag__img i {
    border-radius: 15px;
    display: block;
    overflow: hidden;
    height: clamp(21.875rem, 22.293vw + 16.998rem, 43.75rem);
}

.drmBag__img i img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

/*============drmBag Area End =============*/


/*============ Area Start =============*/
.brand-area {
    margin-bottom: 80px;
}

.brand__slider {
    margin-bottom: 30px;
}

.brand__slider h5 {
    text-align: center;
    margin-bottom: 30px;
}

.brand__slider ul {
    display: flex;
    align-items: center;
}

.brand__slider ul li a img {
    height: 30px;
    max-width: 80px;
    object-fit: contain;
}

.brand__blk {
    border: 1px solid #0002;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
}

.brand__blk p {
    font-size: 14px;
}

.brand__blk>div {
    padding: 30px;
}

.brand__blk ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

.brand__blk ul li a {
    max-width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    transition: all .3s ease;
}

.brand__blk ul li a:hover {
    opacity: .5;
}

.brand__blk>i {
    max-width: 200px;
    height: 242px;
    display: block;
    overflow: hidden;
    width: 100%;
    flex-shrink: 0;
}

.brand__blk>i img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.brand__blk .btns {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 5px;
}

.brand__blk .btns a {
    font-size: 11px;
    padding: 2px 10px;
    border-width: 2px;
    transition: all .3s;
}

.brand__blk .btns a:hover {
    opacity: .8;
}

.brandSwiper>.swiper-wrapper {
    transition-timing-function: linear;
}

/*============ Area End =============*/


/*============ Area Start =============*/
.product-area {
    background: var(--textColor);
    color: #ffff;
    padding: 80px 0;
}

.product-area.black {
    color: #000;
    background: no-repeat;
}



.product__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.product__title h2 {
    text-transform: uppercase;
    font-weight: 400;
}


.product__title a i {
    rotate: 45deg;
}


.arrow-btn .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    max-width: 80px;
    bottom: 6px;
    margin-left: auto;
}

.swiper-wrapper {
    padding-bottom: 65px;
}

.item__card {
    border: 2px solid #fff4;
    display: block;
    border-radius: 5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 15px 20px 20px;
    transition: all .3s;
}

.item__card:hover .item__img img {
    scale: 1.1;
}

.item__card:hover {
    border: 2px solid #fff;
}

.item__card__black .item__card {
    border-color: #0002;
}

.item__top {
    position: relative;
}

.item__top label {
    font-family: 'Gliker';
    background: var(--thmColor);
    text-transform: uppercase;
    color: var(--textColor);
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 24px;
    line-height: 1;
}

.item__top span {
    text-transform: uppercase;
    font-family: 'Gliker';
    font-size: 13px;
}

.heart-icon {
    position: absolute;
    right: 0;
    font-size: 20px;
}


.item__img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px 0 40px;
}

.item__img img {
    max-width: 125px;
    height: 125px;
    object-fit: scale-down;
    transition: all .3s ease;
}

.item__img button {
    position: absolute;
    bottom: -25px;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--thmColor);
    color: var(--textColor);
    border: none;
    border-radius: 50%;
}


.item__content .text {
    display: flex;
    justify-content: space-between;
}

.item__content .text b {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Gliker';
    font-weight: 400;
}

.item__content .text p {
    margin: 0;
    font-size: 14px;
}

.item__content h6 {
    font-family: 'Inter';
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

.item__content label {
    font-size: 10px;
    background: #ABCFF0;
    color: #000;
    font-family: 'Gliker';
    padding: 0 6px;
    border-radius: 12px;
    display: inline-block;
    margin-bottom: 5px;
}

.arrow-btn .swiper-button-next,
.arrow-btn .swiper-button-prev {
    width: 24px;
    height: 24px;
    border: 1px solid #fff3;
    color: #ffff;
    border-radius: 50%;
    font-size: 11px;
    transition: all .3s;
}

.arrow-btn.v2 .swiper-button-next,
.arrow-btn.v2 .swiper-button-prev {
    color: #000;
    border-color: #0002;
}

.productSwiper .swiper-button-next:hover,
.productSwiper .swiper-button-prev:hover {
    border-color: #fff;
}

.swiper-pagination-progressbar {
    bottom: 15px;
    position: absolute;
    top: auto !important;
    max-width: calc(100% - 88px);
    background: #423B4F;
    border-radius: 5px;
}

.v2 .swiper-pagination-progressbar {
    background: #E7E5DF;
}

.swiper-pagination span.swiper-pagination-progressbar-fill {
    background: #ffff;
    border-radius: 10px;
}

.v2 .swiper-pagination span.swiper-pagination-progressbar-fill {
    background: #000;
}


.fun__text h1 {
    text-align: center;
    margin: 0;
    font-size: var(--f48);
    text-transform: uppercase;
}

.fun__text h1 span {
    color: #B597E0;
}


.shop__card {
    display: block;
    border-radius: 30px;
    overflow: hidden;
    height: clamp(21.875rem, 22.293vw + 16.998rem, 43.75rem);
}

.shop__card img {
    height: clamp(21.875rem, 22.293vw + 16.998rem, 43.75rem);
    object-fit: cover;
    object-position: center;
    width: 100%;
}

/*============ Area End =============*/


/*============video Area Start =============*/
.videoSwiper .swiper-wrapper {
    padding-top: 50px;
}

.videoSwiper.arrow-btn .flex {
    z-index: 99;
    left: 59px;
    height: 20px;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    color: red;
}

.videoSwiper.arrow-btn .flex .swiper-button-next,
.videoSwiper.arrow-btn .flex .swiper-button-prev {
    border: 1px solid #000000;
    color: #000000;
    width: 30px;
    height: 30px;
    font-size: 14px;
    margin: -5px;
}




.video-wrapper {
    position: relative;
    width: 100%;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
}

.video-wrapper button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    max-width: 67px;
}

.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videoModal .modal-content {
    background: #0D0D0D;
    color: #fff;
}

.videoModal__top {
    padding: 10px 30px;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.videoModal__top button {
    color: #ffff;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    opacity: 1;
    position: relative;
    z-index: 99;
}

.videoModal .video-wrapper {
    height: 80vh;
    max-width: 370px;
    margin: auto;
}

.videoModal .video-wrapper .playbutton {
    opacity: 1;
    pointer-events: all;
}

.videoModal .modal-body {
    display: flex;
    align-items: center;
}

.videoModalSwiper .swiper-wrapper {
    padding: 50px 0;
    align-items: center;
}

.videoModalSwiper {
    max-width: 1560px;
}

.videoModalSwiper .swiper-slide.swiper-slide-next .video-wrapper {
    height: 90vh;
    max-width: 530px;
}

.videoModal .flex {
    position: absolute;
    max-width: 667px;
    height: 20px;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
}

.videoModal .flex i {
    background: #fff9;
    color: #000;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
}





.playbutton {
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
    background-color: rgb(0 0 0 / 30%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
    z-index: 100;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

.playbutton::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: white;
    z-index: 10000;
    left: 50%;
    top: 50%;
    transform: translate(-28%, -50%);
    clip-path: polygon(0 0, 0% 100%, 82% 51%);
    cursor: pointer;
    opacity: 0.6;
}

.playbutton::before:hover {
    opacity: 1;
}

/* use \25BA as content gives you also the triangle*/


.playbutton:hover {
    background-color: rgba(255, 255, 255, 0.4);
    /* opacity: 1; */
}

.playing {
    background-color: transparent;
}

.playing::before {
    background-color: transparent;
}

.playing:hover {
    background-color: transparent;
}


.fullvideo__blk {
    position: relative;
    width: 100%;
    height: clamp(21.875rem, 22.293vw + 16.998rem, 43.75rem);
    overflow: hidden;
    border-radius: 5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.fullvideo__blk video {
    width: 100%;
}

/*============video Area End =============*/


/*============collection Area Start =============*/
.collection-area {
    background: #140B28;
    color: #fff;
    padding-bottom: 200px;
    margin-bottom: -100px;
}

.coll__filter-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-family: 'Gliker';
    font-size: 14px;
    margin-bottom: 20px;
}

.coll__filter-btn i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff3;
    border-radius: 50%;
    font-size: 16px;
}

.collection__items {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    display: grid;
    gap: 1rem;
}

.collection__link ul {
    display: flex;
    justify-content: center;
    min-width: 1200px;
}

.collection__link {
    overflow: auto;
}

.collection__link ul li {
    border-left: 1px solid #fff3;
}

.collection__link ul li:last-child {
    border-right: 1px solid #fff3;
}

.collection__link ul a {
    font-family: 'Gliker';
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    width: 85px;
    display: block;
    text-transform: uppercase;
    line-height: 1;
    padding: 10px 0;
    letter-spacing: -0.5px;
}

.collection__link ul a i {
    max-width: 32px;
    display: flex;
    height: 32px;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
}

.skapa__blk-lg {
    grid-row: span 2/span 2;
    grid-column: span 2/span 2;
}

.skapa__blk-lg .skapa__blk {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.skapa__blk-lg .skapa__blk i {
    height: 100%;
}

.skapa__blk-lg .skapa__blk i img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.Filter__side .coll__filter .filter__opt ul li a {
    border-color: #0003;
}


.Filter__side .Sortera-list {
    color: #000;
}

.Filter__side .coll__filter {
    padding: 20px;
}

.Filter__side .filter__opt ul li a i {
    border-color: #fff;
    outline-color: #0002;
}


.Filter__side .coll__filter .accordion-item {
    border-color: #0003;
}


.Filter__side .coll__filter .accordion-button {
    color: #000;
}

.Filter__side .coll__filter .accordion-button:after {
    filter: brightness(0);
}

.coll__filter .accordion {
    margin-bottom: 40px;
}

.coll__filter h4 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 16px;
}

.coll__filter .accordion-item {
    border-bottom: 1px solid #fff3;
}

.coll__filter .accordion-button {
    color: #fff;
    padding-left: 0;
    font-family: 'Inter';
    font-size: var(--f18);
}

.coll__filter .accordion-button:hover {
    text-decoration: underline;
}

.coll__filter .accordion-button:after {
    filter: brightness(46.5);
    width: 14px;
    height: 14px;
    background-size: 14px;
}

.Sortera-list {
    padding-top: 10px;
    padding-bottom: 14px;
}

.Sortera-list a {
    display: block;
    line-height: 2;
    opacity: .5;
    transition: all .3s;
}

.Sortera-list a:hover {
    opacity: 1;
}


.filter__opt {
    padding-bottom: 20px;
}

.filter__opt.color ul {
    max-width: 240px;
}

.filter__opt ul li a {
    border: 1px solid #fff4;
    text-transform: uppercase;
    font-family: 'Gliker';
    padding: 10px;
    border-radius: 4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter__opt ul li a i {
    width: 40px;
    height: 40px;
    outline: 1px solid #fff3;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
    margin: 10px;
    border: 2px solid #140B28;
}

.filter__opt ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.color-1 {
    background: #22D5FC;
}

.color-2 {
    background: #B597E0;
}

.color-3 {
    background: #9A5630;
}

.color-4 {
    background: #6F1C9B;
}

.color-5 {
    background: #05AA3D;
}

.color-6 {
    background: #FFE500;
}

.color-7 {
    background: #D49A06;
}

.color-8 {
    background: #B597E0;
}

.color-9 {
    background: #FF8A00;
}

.color-10 {
    background: #F61F1F;
}

.color-11 {
    background: #FFC0CB;
}

.color-12 {
    background: #D3D3D3;
}

.color-13 {
    background: #000000;
}

.color-14 {
    background: #FFFFFF;
}

/*============collection Area End =============*/


/*============DRMZ Area Start =============*/
.DRMZ-area {
    text-align: center;
    padding: 50px 0;
}


.DRMZ__content {
    max-width: 670px;
    margin: auto;
}

.DRMZ__content h1 {
    font-size: var(--f64);
}

.DRMZ__content a {
    opacity: .7;
    display: block;
    margin-bottom: 12px;
}

.Spara__content {
    width: max-content;
    margin: auto;
    border: 1px solid #0002;
    border-radius: 10px;
    position: relative;
    text-align: left;
    padding: 15px;
    padding-bottom: 0;
    margin-top: 40px;
}

.Spara__content p {
    font-size: 12px;
}

.Spara__content p a {
    text-decoration: underline;
    font-style: italic;
    font-size: 14px;
}

.Spara__content ul {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 5px;
}

.Spara__content ul span {
    opacity: .7;
    margin-left: 5px;
}

.Spara__content ul li i {
    width: 1rem;
    height: 1rem;
    display: block;
    border: 2px solid #000;
    border-radius: 50%;
}

.Spara__content h6 {
    text-transform: uppercase;
}

.Spara__content label {
    position: absolute;
    background: #FFA59C;
    border: 2px solid #000;
    text-transform: uppercase;
    font-family: 'Gliker';
    font-size: 12px;
    border-radius: 20px;
    padding: 0 7px;
    right: -20px;
    rotate: 10deg;
    top: -14px;
}

/*============DRMZ Area End =============*/


/*============Emoji Area Start =============*/
.Emoji-area {
    padding-top: 10px;
}


.Emoji__img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0003;
    border-radius: 15px;
    height: 100%;
    padding: 50px;
}


.Emoji__content {
    padding-top: 30px;
    padding-left: 20px;
}

.Emoji__content h5 {
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 24px;
}

.Emoji__content .card__img a {
    border: 1px solid #0003;
}

.Emoji__content small {
    margin-bottom: 16px;
    display: block;
}

.Emoji__content small svg path {
    stroke: green;
}

.Emoji__content .card__img {
    justify-content: start;
    margin-top: 10px;
    margin-bottom: 40px;
}

.Emoji__content .flex {
    display: flex;
    align-items: center;
    margin: 40px 0 20px;
    gap: 9px;
}

.Emoji__content b {
    font-family: 'Gliker';
    font-weight: 600;
}

.Emoji__content h2 {
    font-family: 'Inter';
    font-weight: 700;
    margin: 0;
}

.Emoji__content label {
    font-size: 10px;
    font-family: 'Gliker';
    background: #ABCFF0;
    display: inline-block;
    padding: 0 7px;
    border-radius: 20px;
    font-weight: 600;
}


.Emoji__link ul {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 10px;
}

.Emoji__link ul li a {
    font-size: 14px;
    opacity: 0.6;
}

.Emoji__link ul img {
    max-width: 12px;
}


.pd_quantity {
    border: 2px solid #000;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    padding: 0 10px;
}

.pd_quantity a {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pd_quantity input {
    max-width: 30px;
    text-align: center;
    border: none;
}


.Emoji__content .flex .heart-icon {
    position: unset;
    border-left: 1px solid #0003;
    padding-left: 16px;
    margin-left: 8px;
    font-size: 24px;
}

.Spara__wrp {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    gap: 20px;
}


.Mobilskal__box h6 {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: -0.5px;
}

.Mobilskal__box a {
    display: flex;
    align-items: center;
    border: 1px solid #0002;
    height: 113px;
    border-radius: 10px;
    overflow: hidden;
    gap: 10px;
    padding-right: 10px;
}

.Mobilskal__box a span {
    font-size: 12px;
    background: #000;
    color: #fff;
    font-family: 'Gliker';
    padding: 5px 10px;
    border-radius: 20px;
}

.Mobilskal__box a i {
    width: 75px;
    height: 100%;
    flex-shrink: 0;
}

.Mobilskal__box a i img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.Specifi__list ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #0002;
}

.Specifi__list ul li:last-child {
    border: none;
}

.Specifi__list label {
    max-width: 170px;
    width: 100%;
    background: no-repeat;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    opacity: .6;
}


/*============Emoji Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/





/*============faq Area Start =============*/
.faq-area {
    padding: 100px 0;
}


.sec__title h2 {
    text-transform: uppercase;
}

.faq__accordion {
    border-top: 1px solid #0002;
    border-bottom: 1px solid #0002;
}

.accordion-item {
    border-bottom: 1px solid #0002;
}

.faq__accordion .accordion-item button {
    padding-left: 0;
    font-size: var(--f18);
    text-transform: uppercase;
    padding: 20px 0;
    font-weight: 600;
    text-align: left;
    font-family: 'Gliker';
}

.faq__accordion .accordion-item button:hover {
    text-decoration: underline;
}


.accordion-button {
    border: none;
}


.faq__content {
    margin-top: 50px;
}

.faq__content h5 {
    text-transform: uppercase;
}

.faq__btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.faq__btns a {
    padding: 10px 20px;
    font-size: 13px;
    border-width: 1px;
    padding: 7px 20px;
}


.Emoji__content .flex .thm_btn {
    height: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    border-width: 2px;
    font-size: 16px;
}

/*============faq Area End =============*/


/*============footer Area Start =============*/
.footer-area {
    background: var(--textColor);
    color: #fff;
    padding: 50px 0;
    border-top-left-radius: 168px;
    border-top-right-radius: 168px;
    position: relative;
}
 .border-wrp.ft {top: 0;height: 235px;margin-bottom: -194px;padding-top: 3px;}


.border-wrp.ft .border__solid {
    background: #140B28;
    top: 3px;
    border-radius: 148px 148px 0 0;
    width: 104.6%;
    left: -2.3%;
    z-index: -1;
    height: 233px;
}

.footer__logo {
    text-align: center;
    margin-bottom: 50px;
}

.footer__logo p {
    font-size: 14px;
    max-width: 370px;
    margin: 20px auto;
    opacity: .8;
}

.footer__logo ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer__logo ul li a {
    border: 1px solid #fff5;
    padding: 6px 20px;
    border-radius: 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Gliker';
    display: flex;
    align-items: center;
    gap: 10px;
    font-style: normal;
    position: relative;
    transition: all .3s;
}

.footer__logo ul li a:hover {
    bottom: -4px;
}

.footer__logo ul li a i {
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer__nav h5 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__nav ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    transition: all .3s ease;
}

.footer__nav ul li a:hover {
    opacity: .5;
}

.footer__nav ul li {
    margin-bottom: 14px;
}

.footer__nav ul li a i {
    max-width: 16px;
    display: block;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
}

.footer__nav ul li a i img {
    height: 100%;
}

.footer__nav .flex {
    display: flex;
    gap: 30px;
}

.newsLatter {
    margin-left: auto;
    width: max-content;
}

.newsLatter p {
    font-size: 14px;
}

.newsLatter h4 {
    color: var(--purpalColor);
}

.search__blk {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search__blk button {
    height: 36px;
    font-family: 'Gliker';
    text-transform: uppercase;
    background: #DEC9E6;
    color: var(--textColor);
    font-weight: 600;
    padding: 0 16px;
    border-radius: 30px;
}

.search__blk input {
    border: none;
    height: 36px;
    border-radius: 30px;
    width: 100%;
}

.f-info-title {
    margin-bottom: 24px;
    text-transform: uppercase;
    color: #ADCFEE;
}

.f-info-title h4 {
    font-weight: 400;
}

.f-info-blk {
    margin-bottom: 40px;
}

.f-info-blk p {
    font-size: 13px;
    color: #fff9;
    margin-bottom: 14px;
}

.f-info-blk h6 {
    font-family: 'Inter';
    margin-bottom: 3px;
}

.footer__btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #fff5;
    border-radius: 39px;
    padding: 10px 30px;
}


.footer__btm p {
    margin: 0;
    font-family: 'Gliker';
    font-size: 14px;
}

.footer__btm ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.footer__btm ul li a {
    font-size: 13px;
    color: #fff9;
}

.footer__btm ul li a:hover {
    color: #fff;
}

.card__img {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

.card__img a {
    width: 46px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 5px;
    padding: 0 5px;
}

/*============footer Area End =============*/



.border-wrp {
    height: 220px;
    top: -124px;
    width: 100%;
    left: 0;
    position: relative;
    overflow: hidden;
}

.border-wrp>div {
    position: absolute;
    /* border-radius: 166px 166px 0 0; */
    opacity: 0;
    border-bottom: none;
}

.border__solid {
    background: #fff;
    height: 230px;
    width: 100%;
    top: 37px;
    left: 0%;
    opacity: 1 !important;
    border-radius: 96px 95px 0 0;
}

.border__4 {
    height: 107px;
    border: 3px solid #92EAFC;
    top: 30px;
    width: 101%;
    left: -.5%;
    animation: border__4 1s ease 1s 1 normal forwards;
    border-radius: 212px 212px 0 0;
}

.border__3 {
    height: 118px;
    border: 3px solid #FCFBFE;
    top: 23px;
    width: 102%;
    left: -1%;
    animation: border__3 1s ease 1.5s 1 normal forwards;
    border-radius: 182px 182px 0 0;
}

.border__2 {
    height: 131px;
    border: 3px solid #FEFB80;
    top: 16px;
    width: 103%;
    left: -1.5%;
    animation: border__2 1s ease 2s 1 normal forwards;
    border-radius: 165px 163px 0 0;
}

.border__1 {
    border: 3px solid #E734F5;
    height: 140px;
    top: 10px;
    width: 104%;
    left: -2%;
    animation: border__1 1s ease 2.5s 1 normal forwards;
    opacity: 0;
    border-radius: 166px 166px 0 0;
}

@keyframes border__4 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes border__3 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes border__2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes border__1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}